{%extends "inicio/encabezado.html"%}

{%block titulo%}Confirmar eliminación{%endblock%}

{%block contenido%}
<div class="container">
    <div class="page-header">
        <div class="page-title">
            <h3>Eliminar curso</h3>
        </div>
    </div>
    <form method="POST">
        {% csrf_token %}
        <div class="callout callout-danger fade in">
            <h5>Eliminando curso</h5>
            <p>¿Estás seguro de que deseas <strong>eliminar</strong> el curso seleccionado?</p>
        </div>
        <button type="submit" class="btn btn-danger">Si</button>
        <a href="{% url 'consultaCurso'%}" class="btn btn-primary">Cancelar</a>
    </form>
</div>
{%endblock%}